{% extends 'layout/layout.html.twig' %}

{% block title %}Communaute{% endblock %}

{% block body %}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                 <h2>
                <ol class="breadcrumb breadcrumb-col-pink">
                                <li><a href="javascript:void(0);"><span style="font-size:150%"><i class="material-icons">people_outline</i> Communautés</span></a></li>
                            </ol>
                </h2> 
            </div>
            <div class="block-body row">
              <div class="col-12">
                    <div class="card">
                        <div class="header">
                            <h4>
                               Ensemble d'acteurs intervenant dans le meme secteur d'activité
                            </h4>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="material-icons">mic</i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body" style="min-height:400px">

                         <div class="row clearfix">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                   <i class="fa fa-globe" aria-hidden="true"></i>  KhaMELIA <small>Plateforme Universelle de Collaboration Médicale.</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                
                                </li>
                                <li class="dropdown">
                                   
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                           <img src="https://net2all-business.online/assets_site/img/khamelia.jpg" width="100%" height="200px" />
                        </div>
                    </div>
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                InetSCHOOLS <small>Plateforme Universelle de Collaboration Scolaire.</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                
                                </li>
                                <li class="dropdown">
                                   
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                           <img src="https://net2all-business.online/assets_site/img/inetschools.jpg" width="100%" height="200px" />
                        </div>
                    </div>
                </div>
              
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
