{% extends 'layout/layout.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                <ol class="breadcrumb breadcrumb-col-pink">
                                <li><a href="javascript:void(0);">
                                <span style="font-size:150%"><i class="material-icons">library_books</i> Service</span>
                                </a></li>
                            </ol>
                </h2>
            </div>
            <div class="block-body row">
              <div class="col-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                               Les Packs de services
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="material-icons">mic</i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body" style="min-height:400px">

                         <div class="row clearfix">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                   <i class="fa fa-globe" aria-hidden="true"></i>  MagmaERP <small>Système de gestion intégrée</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                
                                </li>
                                <li class="dropdown">
                                   
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                          <a href="{{path('service-view',{'id':1,'idaccount':user.id_utilisateur})}}" target="_blank"> <img src="https://net2all-business.online/assets_site/img/solutions/magmaerp.png" width="100%" height="50px" /></a>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                CashLINE <small>E-commerce intégral</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                
                                </li>
                                <li class="dropdown">
                                   
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                         <a href="{{path('service-view',{'id':2,'idaccount':user.id_utilisateur})}}" target="_blank">  <img src="https://net2all-business.online/assets_site/img/solutions/cashline.png" width="100%" height="50px" /></a>
                     
                          
                        </div>
                    </div>
                </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                   <i class="fa fa-globe" aria-hidden="true"></i>  InstantMARK <small>Régie Webmarketing</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                
                                </li>
                                <li class="dropdown">
                                   
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                           <img src="https://net2all-business.online/assets_site/img/solutions/instantmark.png" width="100%" height="50px" />
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                CareCONCEPT <small>Satisfaction et fidélisation clients</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                
                                </li>
                                <li class="dropdown">
                                   
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                           <img src="https://net2all-business.online/assets_site/img/solutions/careconcept.png" width="100%" height="50px" />
                        </div>
                    </div>
                </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                   <i class="fa fa-globe" aria-hidden="true"></i>  MagmaerpWebEVOLUTION <small>Site Internet à intégration de services</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                
                                </li>
                                <li class="dropdown">
                                   
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                           <img src="https://net2all-business.online/assets_site/img/solutions/webevolution.png" width="100%" height="50px" />
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                CollaBUS <small>Gestion et suivi de performance </small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                
                                </li>
                                <li class="dropdown">
                                   
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                           <img src="https://mesemployes.com/app/uploads/performance-dans-le-temps-1000x580.jpg" width="100%" height="50px" />
                        </div>
                    </div>
                </div>
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
